.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    width: 100%;
}

/* Full width */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

/* Main content */
.main {
    margin-top: 30px;
    /* Add a top margin to avoid content overlay */
}
.contact-info {
    display: inline;
}

.contact-info{
    float: right;

}

.menu li {
    display:inline-block;
    margin-left: 10px;
    margin-right: 10px;
  }

.top-page div{
    display: inline-block;
      margin: 5px;     
}



  